*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "balqis";
    src: url("../fonts/balqis.woff2") format("woff2"),
    url("../fonts/balqis.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed-LightItalic";
    src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    color: #000;
    font-family: 'RobotoCondensed-Light', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

body, ul {
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


.conteiner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

}

.page-section {
    margin: 200px auto;
    max-width: 1920px;

}

.title {
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F;
    font-family: "balqis", sans-serif;;
    font-weight: 300;
    margin-bottom: 100px;
}

.title span {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-family: 'RobotoCondensed-LightItalic', sans-serif;
    font-weight: 300;
    display: block;
    margin-top: -30px;
}

.header {
    background-image: url("../images/Header-BG.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: "RobotoCondensed-Regular", sans-serif;

}

.menu__list-item {
    display: inline-block;
}

.menu__list-item + .menu__list-item {
    margin-left: 52px;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.header_phone {
    padding-left: 40px;
    position: relative;
}

.header_phone::before {
    content: "";
    position: absolute;
    background-image: url("../images/ikon phone .svg");
    width: 30px;
    height: 30px;
    left: 0;
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: "balqis", sans-serif;
    font-weight: 300;

}

.header__title span {
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: "RobotoCondensed-LightItalic", sans-serif;
    margin-top: -66px;
    margin-right: 85px;
}

.fairy-tail__slider {
    width: 50%;
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.fairy-tail__inner {
    position: relative;
}

.fairy-tail__conteiner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__bady {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__bady-title {
    font-family: "RobotoCondensed-Regular", sans-serif;
    font-weight: bold;

}

.fairy-tail__text {
    padding: 10px 0;
}

.fairy-tail__title span {
    margin-left: 185px;
}

.our-trip__title span {
    margin-left: 242px;
}

.container {
    margin-left: 360px;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__inner {
    position: relative;
}

.our-trip__container {
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: start;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    margin: 0 0 20px 0;
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.our-trip__btn {
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #E2AB3F;
    padding: 11px 53px;
    font-family: "RobotoCondensed-Light", sans-serif;
}

.our-trip__content {
    width: 50%;
    padding-right: 55px;
}

.hotel__title span {
    margin-left: 128px;
}

.hotel__inner {
    display: flex;
    width: 1230px;
}

.hotel__images {
    margin-right: 100px;
}

.hotel__text {
    margin-bottom: 20px
}

.hotel__gallery {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}

.price__title span {
    margin-left: 121px;
}

.price__inner {
    display: flex;

}

.price__on {
    margin-right: 70px;
    width: 530px;
}

.price__on-title,
.price__off-title {
    margin-bottom: 50px;
    line-height: 28px;
    font-size: 24px;
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.price__list-item {
    margin-bottom: 20px;
}

.price {
    background-image: url(../images/price-baloon.png);
    background-repeat: no-repeat;
    background-position: center right 20%;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}


.contacts__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts__date, .contacts__price{
    font-family: 'balqis', sans-serif;
    font-size: 96px;
    line-height: 100px;
    color: #E2AB3F;
}

.contacts__date span, .contacts__price span{
    display: block;
    font-family: 'RobotoCondensed-LightItalic', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-left: 200px;
    margin-top: -10px;
}

.contacts__price span{

}

.contacts__content{
    text-align: center;
}

.contacts__price{
    margin-left: 120px;
}

.contacts__data{
    margin-bottom: 20px;
}

.contacts__form{
    max-width: 383px;
    margin: 0 auto;
}

.contact__form-title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #000;
    font-family: "RobotoCondensed-Regular", sans-serif;
}

.contact__form-input{
    border: 1px solid #E2AB3F;
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 31px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    font-family: "RobotoCondensed-Light", sans-serif;
}

.contact__form-input::placeholder{
    color: black;
}

.contact__form--btn{
    font-size: 24px;
    font-family: 'RobotoCondensed-Light', sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    border: 1px solid #E2AB3F;
    background-color: transparent;
    padding: 11px 45px;
    cursor: pointer;
}

